body{
  background-image: url("../../public/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 /* background: linear-gradient(to bottom right, #74b9ff, #81ecec);*/
  font-family: 'Arial', sans-serif;
}

.register-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.register-container h2 {
  color: #2c3e50;
  font-size: 28px;
  margin-bottom: 20px;
}

.register-form div {
  margin-bottom: 20px;
}

.register-input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.register-input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.4);
}

.register-button {
  width: 100%;
  padding: 14px;
 /* background-color: #3498db;*/
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-button:hover {
  background-color: #2980b9;
  transform: scale(1.02);
}

.register-footer {
  margin-top: 20px;
}

.register-footer p {
  font-size: 14px;
  color: #2c3e50;
}

.register-footer a {
  color: #3498db;
  text-decoration: none;
}

.register-footer a:hover {
  text-decoration: underline;
}
